@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Primary Scale */
  --primary-1: oklch(0.98 0.02 240); /* #FCFDFF */
  --primary-2: oklch(0.96 0.04 240); /* #F3F9FF */
  --primary-3: oklch(0.92 0.08 240); /* #E6F8FF */
  --primary-4: oklch(0.85 0.12 300); /* #D968FF */
  --primary-5: oklch(0.84 0.12 240); /* #BFD5FF */
  --primary-6: oklch(0.76 0.16 240); /* #8CBAFF */
  --primary-7: oklch(0.68 0.2 240); /* #5999FF */
  --primary-8: oklch(0.6 0.24 240); /* #4A8FFF */
  --primary-9: oklch(0.58 0.26 240); /* #267DFF */
  --primary-10: oklch(0.56 0.28 240); /* #1F77FF */
  --primary-11: oklch(0.54 0.3 240); /* #1971FF */
  --primary-12: oklch(0.44 0.32 240); /* #0055FF */
  --primary-13: oklch(0.36 0.36 240); /* #0047B3 */
  --primary-14: oklch(0.28 0.4 240); /* #003E9C */

  /* Black Scale */
  --black-1: oklch(1 0 0); /* #FFFFFF */
  --black-2: oklch(0.98 0 0); /* #F8F8F8 */
  --black-3: oklch(0.96 0 0); /* #F5F5F5 */
  --black-4: oklch(0.94 0 0); /* #F1F1F1 */
  --black-5: oklch(0.74 0 0); /* #BDBDBD */
  --black-6: oklch(0.55 0 0); /* #8C8C8C */
  --black-7: oklch(0.44 0 0); /* #707070 */
  --black-8: oklch(0.34 0 0); /* #565656 */
  --black-9: oklch(0.32 0 0); /* #515151 */
  --black-10: oklch(0.2 0 0); /* #343434 */
  --black-11: oklch(0.13 0 0); /* #202020 */
  --black-12: oklch(0.14 0 0); /* #232323 */
  --black-13: oklch(0.06 0 0); /* #101010 */

  /* States Scale - Red */
  --red-1: oklch(0.9452 0.0274 17.65);
  --red-2: oklch(0.8793 0.064078 18.4457);
  --red-3: oklch(0.7909 0.0992 19.51);
  --red-4: oklch(0.6164 0.2192 26.55);

  /* States Scale - Pink */
  --pink-1: oklch(0.9698 0.0207 337.69);
  --pink-2: oklch(0.9419 0.0402 338.62);
  --pink-3: oklch(0.89 0.0791 339.24);
  --pink-4: oklch(0.6854 0.2239 344.1);

  /* States Scale - Orange */
  --orange-1: oklch(0.9622 0.0288 72.48);
  --orange-2: oklch(0.924 0.0553 68.81);
  --orange-3: oklch(0.8576 0.106 67.43);
  --orange-4: oklch(0.7244 0.1755 56.08);

  /* States Scale - Yellow */
  --yellow-1: oklch(0.9837 0.038 100.62);
  --yellow-2: oklch(0.9689 0.0721 100.82);
  --yellow-3: oklch(0.943 0.1304 100.99);
  --yellow-4: oklch(0.7947 0.1672 75.42);

  /* States Scale - Green */
  --green-1: oklch(0.9728 0.0308 133.29);
  --green-2: oklch(0.9473 0.0601 133.2);
  --green-3: oklch(0.8997 0.1151 133.69);
  --green-4: oklch(0.7122 0.209 137.37);

  /* States Scale - Blue */
  --blue-1: oklch(0.9584 0.0196 245.64);
  --blue-2: oklch(0.9199 0.0384 244.61);
  --blue-3: oklch(0.8455 0.0752 245.75);
  --blue-4: oklch(0.6106 0.1687 251.82);

  /* States Scale - Purple */
  --purple-1: oklch(0.9327 0.0283 290.22);
  --purple-2: oklch(0.8678 0.0565 289.64);
  --purple-3: oklch(0.7427 0.1129 287.96);
  --purple-4: oklch(0.5131 0.2091 280.81);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Primary Scale */
  .text-primary-1 {
    color: var(--primary-1);
  }
  .text-primary-2 {
    color: var(--primary-2);
  }
  .text-primary-3 {
    color: var(--primary-3);
  }
  .text-primary-4 {
    color: var(--primary-4);
  }
  .text-primary-5 {
    color: var(--primary-5);
  }
  .text-primary-6 {
    color: var(--primary-6);
  }
  .text-primary-7 {
    color: var(--primary-7);
  }
  .text-primary-8 {
    color: var(--primary-8);
  }
  .text-primary-9 {
    color: var(--primary-9);
  }
  .text-primary-10 {
    color: var(--primary-10);
  }
  .text-primary-11 {
    color: var(--primary-11);
  }
  .text-primary-12 {
    color: var(--primary-12);
  }
  .text-primary-13 {
    color: var(--primary-13);
  }
  .text-primary-14 {
    color: var(--primary-14);
  }

  .bg-primary-1 {
    background-color: var(--primary-1);
  }
  .bg-primary-2 {
    background-color: var(--primary-2);
  }
  .bg-primary-3 {
    background-color: var(--primary-3);
  }
  .bg-primary-4 {
    background-color: var(--primary-4);
  }
  .bg-primary-5 {
    background-color: var(--primary-5);
  }
  .bg-primary-6 {
    background-color: var(--primary-6);
  }
  .bg-primary-7 {
    background-color: var(--primary-7);
  }
  .bg-primary-8 {
    background-color: var(--primary-8);
  }
  .bg-primary-9 {
    background-color: var(--primary-9);
  }
  .bg-primary-10 {
    background-color: var(--primary-10);
  }
  .bg-primary-11 {
    background-color: var(--primary-11);
  }
  .bg-primary-12 {
    background-color: var(--primary-12);
  }
  .bg-primary-13 {
    background-color: var(--primary-13);
  }
  .bg-primary-14 {
    background-color: var(--primary-14);
  }

  .border-primary-4 {
    border-color: var(--primary-4);
  }
  .border-primary-8 {
    border-color: var(--primary-8);
  }
  .border-primary-12 {
    border-color: var(--primary-12);
  }

  /* Black Scale */
  .text-black-1 {
    color: var(--black-1);
  }
  .text-black-4 {
    color: var(--black-4);
  }
  .text-black-6 {
    color: var(--black-6);
  }
  .text-black-8 {
    color: var(--black-8);
  }
  .text-black-10 {
    color: var(--black-10);
  }
  .text-black-13 {
    color: var(--black-13);
  }

  .bg-black-1 {
    background-color: var(--black-1);
  }
  .bg-black-2 {
    background-color: var(--black-2);
  }
  .bg-black-3 {
    background-color: var(--black-3);
  }
  .bg-black-4 {
    background-color: var(--black-4);
  }
  .bg-black-13 {
    background-color: var(--black-13);
  }

  /* States Colors - 전체 스케일 */
  .text-red-1 {
    color: var(--red-1);
  }
  .text-red-2 {
    color: var(--red-2);
  }
  .text-red-3 {
    color: var(--red-3);
  }
  .text-red-4 {
    color: var(--red-4);
  }
  .bg-red-1 {
    background-color: var(--red-1);
  }
  .bg-red-2 {
    background-color: var(--red-2);
  }
  .bg-red-3 {
    background-color: var(--red-3);
  }
  .bg-red-4 {
    background-color: var(--red-4);
  }

  .text-pink-1 {
    color: var(--pink-1);
  }
  .text-pink-2 {
    color: var(--pink-2);
  }
  .text-pink-3 {
    color: var(--pink-3);
  }
  .text-pink-4 {
    color: var(--pink-4);
  }
  .bg-pink-1 {
    background-color: var(--pink-1);
  }
  .bg-pink-2 {
    background-color: var(--pink-2);
  }
  .bg-pink-3 {
    background-color: var(--pink-3);
  }
  .bg-pink-4 {
    background-color: var(--pink-4);
  }

  .text-orange-1 {
    color: var(--orange-1);
  }
  .text-orange-2 {
    color: var(--orange-2);
  }
  .text-orange-3 {
    color: var(--orange-3);
  }
  .text-orange-4 {
    color: var(--orange-4);
  }
  .bg-orange-1 {
    background-color: var(--orange-1);
  }
  .bg-orange-2 {
    background-color: var(--orange-2);
  }
  .bg-orange-3 {
    background-color: var(--orange-3);
  }
  .bg-orange-4 {
    background-color: var(--orange-4);
  }

  .text-yellow-1 {
    color: var(--yellow-1);
  }
  .text-yellow-2 {
    color: var(--yellow-2);
  }
  .text-yellow-3 {
    color: var(--yellow-3);
  }
  .text-yellow-4 {
    color: var(--yellow-4);
  }
  .bg-yellow-1 {
    background-color: var(--yellow-1);
  }
  .bg-yellow-2 {
    background-color: var(--yellow-2);
  }
  .bg-yellow-3 {
    background-color: var(--yellow-3);
  }
  .bg-yellow-4 {
    background-color: var(--yellow-4);
  }

  .text-green-1 {
    color: var(--green-1);
  }
  .text-green-2 {
    color: var(--green-2);
  }
  .text-green-3 {
    color: var(--green-3);
  }
  .text-green-4 {
    color: var(--green-4);
  }
  .bg-green-1 {
    background-color: var(--green-1);
  }
  .bg-green-2 {
    background-color: var(--green-2);
  }
  .bg-green-3 {
    background-color: var(--green-3);
  }
  .bg-green-4 {
    background-color: var(--green-4);
  }

  .text-blue-1 {
    color: var(--blue-1);
  }
  .text-blue-2 {
    color: var(--blue-2);
  }
  .text-blue-3 {
    color: var(--blue-3);
  }
  .text-blue-4 {
    color: var(--blue-4);
  }
  .bg-blue-1 {
    background-color: var(--blue-1);
  }
  .bg-blue-2 {
    background-color: var(--blue-2);
  }
  .bg-blue-3 {
    background-color: var(--blue-3);
  }
  .bg-blue-4 {
    background-color: var(--blue-4);
  }

  .text-purple-1 {
    color: var(--purple-1);
  }
  .text-purple-2 {
    color: var(--purple-2);
  }
  .text-purple-3 {
    color: var(--purple-3);
  }
  .text-purple-4 {
    color: var(--purple-4);
  }
  .bg-purple-1 {
    background-color: var(--purple-1);
  }
  .bg-purple-2 {
    background-color: var(--purple-2);
  }
  .bg-purple-3 {
    background-color: var(--purple-3);
  }
  .bg-purple-4 {
    background-color: var(--purple-4);
  }

  /* Border Colors */
  .border-red-2 {
    border-color: var(--red-2);
  }
  .border-green-2 {
    border-color: var(--green-2);
  }
  .border-orange-2 {
    border-color: var(--orange-2);
  }
  .border-blue-2 {
    border-color: var(--blue-2);
  }

  /* Hover states */
  .hover\:bg-primary-13:hover {
    background-color: var(--primary-13);
  }
  .hover\:bg-primary-11:hover {
    background-color: var(--primary-11);
  }
  .hover\:text-primary-12:hover {
    color: var(--primary-12);
  }
  .hover\:bg-red-3:hover {
    background-color: var(--red-3);
  }
  .hover\:bg-green-3:hover {
    background-color: var(--green-3);
  }
  .hover\:bg-orange-3:hover {
    background-color: var(--orange-3);
  }
}

@font-face {
  font-family: 'PretendardVariable';
  src: url('/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  font-family: 'PretendardVariable', sans-serif;
  scrollbar-width: thin;

  div {
    scrollbar-width: thin;
  }

  li {
    list-style-type: none;
  }
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: -5%;
  line-height: 140%;
}

body {
  /* font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
